<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @t_diary_plugin_file.path %>
</p>


<%= link_to 'Edit', edit_t_diary_plugin_file_path(@t_diary_plugin_file) %> |
<%= link_to 'Back', t_diary_plugin_files_path %>
